@import '../../app/styles/index.scss';

.wrapper {
	display: flex;

	.left {
		margin-left: 20px;
		display: flex;
		flex-direction: column;

		.btns {
			margin-top: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 420px;

			button {
				width: 200px;
				height: 50px;
				border: 2px solid teal;
				background-color: transparent;
			}
		}

		.stream {
			border: 2px solid teal;
		}
	}

	.right {
		margin-left: 20px;
		display: flex;
		flex-direction: column;

		.btns {
			margin-top: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 420px;

			button {
				width: 200px;
				height: 50px;
				border: 2px solid teal;
				background-color: transparent;
			}
		}

		.stream {
			border: 2px solid teal;
		}
	}
}
